@{
    ViewData["Title"] = "Home Page";
}
<a id="msg"></a>
<div>
    <input type="image" src="~/images/guo.png" style="position: absolute;left:400px;top:260px" height="25px" width="25px">
</div>
<div>
    <img src="~/images/xiagu.jpg" />
</div>

<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">明凯BP杀人</h4>
            </div>
            <div class="modal-body">
                2017夏季赛决赛BO5第五局<br />
                GIF：链接地址<br />
                视频：链接地址<br />
                <img src="~/images/ceshi.gif" />
            </div>
            <hr />
            <div class="modal-header">
                <h4 class="modal-title">明凯马踏飞箭</h4>
            </div>
            <div class="modal-body">
                测试多条数据<br />
                GIF：链接地址<br />
                视频：链接地址<br />
                <img src="~/images/ceshi.gif" />
            </div>

        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(function () {
            var body = $('body');
            $(body).mousemove(function (e) {
                var x = e.offsetX;
                var y = e.offsetY;

                $("#msg").text("相对坐标：x=" + x + "，y=" + y);
            });

        });

        $("div input[type='image']").click(function () {
            jQuery('#modal').modal('show', { backdrop: 'static' });
        });
    </script>
}